DJANGO_SUPERUSER_USERNAME='ealmina'
DJANGO_SUPERUSER_PASSWORD='Veselij1'
DJANGO_SUPERUSER_EMAIL='85@gmail.com'
PG_HOST='pg_server'
PG_PORT='5432'
PGPASSWORD=123qwe
POSTGRES_USER=app
POSTGRES_DB=movies_database
SECRET_KEY='django-insecure-^(*a)t1)x)jv*=54a8leh0_($i&8j_3n+%5z=30!oxvb)eay4p'
DEBUG=True
WEBHOOK_API_HOST=""
YOOKASSA_TOKEN=""
NOTIFICATION_ENABLED=False
AUTH_ENABLED=False
IS_FAKE_PAYMENT_API=True
NGINX_HOST=nginx
ADMIN_HOST=admin_panel
